@charset "utf-8";
* { margin: 0; padding: 0 }
body { font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif; background: url(../images/bg.jpg) no-repeat top center #5daad4; background-size: cover; color: #000; background-attachment: fixed; }
img { border: 0; display: block }
ul, li { list-style: none; }
a { text-decoration: none; color: #333; }
a:hover { color: #000; text-decoration: none; }
.clear { clear: both; width: 100%; overflow: hidden; }
.box { width: 1200px; margin: auto; }
/*header*/
header { padding: 20px 0; position: relative; }
.logo { font-size: 30px; font-weight: bold; margin: 40px 10px; text-shadow: 1px 3px 3px #0a6da7, 1px 5px 5px #0a6da7; letter-spacing: .1em; }
.logo a { color: #fff; }
/*nav*/
nav { line-height: 46px; height: 46px; border-radius: 10px; margin-top: 20px; position: relative; }
#starlist li { position: relative; display: inline-block; font-size: 16px; text-shadow: #43b1f1 1px 1px 3px; }
#starlist li a { display: block; color: #fff; padding: 0 10px; }
#starlist li:hover a, #starlist ul.sub li a:hover { text-decoration: none }
#starlist ul.sub { position: absolute; overflow: hidden; text-align: center; left: 0; top: 60px; z-index: 9; width: 100%; opacity: 0; transition: all .5s; box-shadow: 0px 5px 9px 1px rgba(144, 161, 180, 0.2); }
#starlist ul.sub li { width: 100%; background: #ffffff; float: left; font-size: 15px; transition: all .5s; line-height: 40px; text-shadow: none; }
#starlist ul.sub li a { padding: 0; display: none; width: 100%; color: #606060; }
#starlist ul.sub li:last-child a { border: none }
#starlist li:hover ul.sub { opacity: 1; top: 46px; }
#starlist li:hover ul.sub li a { display: block; }
#starlist ul.sub li:hover { padding-left: 5px; }
#starlist li:hover ul.sub:after, #starlist ul.sub li:after, #starlist ul.sub li a:after { display: none; }
.menu:after { }
.menu:hover:after { transform: rotate(180deg) }
#mnavh { display: none; width: 40px; height: 40px; text-align: center; }
.navicon { display: block; position: relative; width: 27px; height: 2px; background-color: #bdbdbd; margin-top: 20px; float: left; margin-left: 10px; }
.navicon:before, .navicon:after { content: ''; display: block; width: 27px; height: 2px; position: absolute; background: #bdbdbd; -webkit-transition-property: margin, -webkit-transform; transition-property: margin, -webkit-transform; transition-property: margin, transform; transition-property: margin, transform, -webkit-transform; -webkit-transition-duration: 300ms; transition-duration: 300ms; }
.navicon:before { margin-top: -8px; }
.navicon:after { margin-top: 8px; }
.open .navicon { background: none }
.open .navicon:before { margin-top: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.open .navicon:after { margin-top: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.open .navicon:before, .open .navicon:after { content: ''; display: block; width: 28px; height: 2px; position: absolute; background: #727171; }
/*search*/
.search { position: relative; overflow: hidden; }
.search input.input_submit { border: 0; color: #fff; outline: none; position: absolute; top: 0; right: 0; display: block; font-size: 15px; height: 36px; background: #424241; line-height: 36px; cursor: pointer; }
.search input.input_text { border: 0; line-height: 36px; height: 36px; font-size: 14px; outline: none; text-indent: 1em; }
.is-search { position: absolute; right: 0; top: 0; background: url(../images/white_bg.png); cursor: pointer }
.is-search i { display: block; width: 50px; height: 50px; background: url(../images/search.png) no-repeat center; background-size: 24px; }
.search-page { width: 300px; right: 60px; background: #fff; position: absolute; bottom: 0px; z-index: 8; display: none; }
.search-page .search { clear: both; margin: auto; }
.search-page .search input.input_text { width: 80%; float: left; z-index: 9; }
.search-page .search input.input_submit { width: 20%; }
.search select { border: none; height: 36px; right: 20%; outline: none; z-index: 9; position: absolute; background: #fff; }
.search-page .go-left { background: url(../images/prev_close.png) no-repeat left center; width: 32px; height: 32px; background-size: 32px; position: absolute; right: 20px; top: 10px; }
.h_title { font-size: 18px; padding-top: 20px; margin-bottom: 10px; }
/*blogs*/
.blogs { width: 70%; float: left; margin: 20px 0; }
.blogs_list { overflow: hidden; position: relative; transition: all .8s; padding: 20px; background: rgba(255,255,255,.8); margin: 0 0 20px 10px; border-radius: 3px; }
.blogs_list a { display: block; overflow: hidden; }
.blogs_list i { display: block; width: 210px; height: 158px; background: #ccc; overflow: hidden; float: left; margin-right: 20px; border-radius: 3px; }
.blogs_list i img { width: 100%; min-height: 100%; transition: all .6s; }
.blogs_list em {
    display: block;
    position: absolute;
    background: rgba(0,0,0,.5);
    z-index: 9;
    color: #fff;
    padding: 3px 8px;
    margin: 5px;
    border-radius: 3px;
    font-style: normal;
    font-size: 14px;
}
.blogs_list h2 { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin: 10px 0; line-height: 28px; font-size: 18px; }
.blogs_list p { color: #888; font-size: 14px; line-height: 24px; word-break: break-all; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2; }
.blogs_list:hover { background: rgba(255,255,255,1); }
.blogs_list h2:hover { color: #000; }
.blogs_list:hover img { transform: scale(1.1); }
.blogs_base { color: #999; font-size: 14px; margin: 30px 0 0 0; line-height: 24px; }
.blogs_base a { color: #999; }
.blogs_base span { margin-right: 20px; padding-left: 24px; line-height: 24px; display: block; float: left; }
span.blogs_time { background: url(../images/icon_time.png) no-repeat left center; background-size: 20px; }
span.blogs_onclick { background: url(../images/icon_fire.png) no-repeat left center; background-size: 20px; }
.icon_more a { color: #808595; }
.icon_more a:hover { color: #012684; }
.rbox { float: right; width: 28%; }
/*mycard*/
.mycard { position: relative; height: 154px; background: rgba(255,255,255,.8); margin: 20px 0; overflow: hidden; padding: 22px; z-index: 1; border-radius: 3px; }
.mycard:after { position: absolute; content: ""; width: 180px; height: 180px; background: #8dc2e4; z-index: -2; left: -144px; bottom: 0; transform: skew(50deg); }
.mycard:before { position: absolute; content: ""; width: 280px; height: 240px; background: #c1dbea; z-index: -1; right: -92px; bottom: 0; transform: skew(327deg); }
.mycard h2 { font-size: 24px; overflow: hidden; padding-bottom: 15px; margin-bottom: 15px; line-height: 40px; border-bottom: #ccc 1px solid; }
.mycard h2 span { float: right; font-size: 15px; margin: 10px 0 0 0; line-height: initial; }
.mycard p { line-height: 30px; font-size: 14px; color: #666; z-index: 2; }
.mycard img { width: 70px; position: absolute; right: 30px; bottom: 22px; }
/*isgood_news*/
.isgood_news { border-radius: 3px; background: rgba(255,255,255,.8); padding: 5px 20px 0; overflow: hidden; }
.isgood_news ul { padding: 10px 20px; }
.isgood_news li { margin: 24px 0; list-style-type: circle; margin-top: 5px; }
.isgood_news li:hover { text-decoration: underline }
/*hot_news*/
.hot_news { border-radius: 3px; background: rgba(255,255,255,.8); padding: 5px 20px 0; margin: 20px 0; overflow: hidden; position: relative; }
.hot_news ol { overflow: hidden; padding: 10px 0 20px 25px; }
.hot_news li { line-height: 36px; list-style-type: inherit; padding-left: 10px; }
.hot_news p { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 80%; float: left; }
.hot_news li span { float: right; width: 20%; text-align: center; color: #808595; font-size: 12px; }
.hot_news section { background-color: #fff; line-height: 42px; box-shadow: 0px 9px 24px rgb(0 0 0 / 5%); margin: 10px 0; border-radius: 10px; }
.hot_news ol:before { content: ""; background: url(../images/icon_fire.png) no-repeat; background-size: 20px; width: 20px; height: 20px; position: absolute; right: 40px; top: 22px; }
.hot_news li:nth-child(1) span { color: #f33; font-weight: bold; }
.hot_news li:nth-child(2) span, .hot_news li:nth-child(3) span { color: #f80; font-weight: bold; }
.hot_news li:hover p { text-decoration: underline }
/*tagsclous*/
.tagsclous { border-radius: 3px; background: rgba(255,255,255,.8); padding: 5px 20px 0; margin: 20px 0; overflow: hidden; }
.tagsclous ul { padding: 10px 0 20px 0; overflow: hidden; position: relative; font-size: 14px; }
.tagsclous a { display: inline-block; float: left; background: #fff; line-height: 34px; text-align: center; position: relative; margin: 4px 5px; padding: 0 14px; border-radius: 3px;  }
.tagsclous a:hover { background: #2c90c5; color: #fff }
/*tongji*/
.tongji { border-radius: 3px; background: rgba(255,255,255,.8); padding: 5px 20px 20px; margin: 20px 0; overflow: hidden; }
.person {margin: 20px 0 10px 0;background: rgba(255,255,255,.5);padding: 20px;border-radius: 3px;overflow: hidden;}
.person li { display: inline-block; padding: 0 24px; font-size: 18px; font-weight: bold; text-align: center; }
.person li:nth-child(2) { border-left: #ccc 1px solid; border-right: #ccc 1px solid }
.person li a:hover { text-decoration: none; color: #54a5d3 }
.person li span { display: block; font-size: 14px; font-weight: normal; color: #999 }
.tongji ul { padding: 10px 0 20px 0; }
.tongji ul li { margin-bottom: 10px }
.tongji ul li a { color: #56a4d2; }
.tongji ul li a:hover { text-decoration: underline; }
.tongji_gzh { margin: auto }
.tongji_gzh i { float: left; width: 50%; display: block; font-size: 13px; font-style: normal; text-align: center }
.tongji_gzh img { margin: 5px auto; width: 90%; }
/*links*/
.links { margin: 20px 0; background: rgba(255,255,255,.8); padding: 5px 20px; border-radius: 3px; }
.links ul { overflow: hidden; padding: 10px 0; }
.links li { float: left; margin: 0 0 15px; width: 50%; }
.links a { color: #888; }
.links li:hover a { text-decoration: underline; color: #000 }
/*footer*/
footer { padding: 30px 0; width: 100%; overflow: hidden; text-align: center; color: #fff; margin-top: 30px; }
.footer_nav { margin: 0 0 10px 0; }
.footer_nav li { display: inline-block; height: 14px; overflow: hidden; line-height: 14px; }
.footer_nav li a { display: block; padding: 0 10px; margin: 0 10px; position: relative; color: rgba(255,255,255,.5) }
.footer_nav li a:after { content: ""; width: 1px; height: 100%; background: rgba(255,255,255,.5); right: -10px; top: 0; position: absolute }
.footer_nav li:last-child a:after { display: none }
.copyright { font-size: 14px; letter-spacing: .1em; overflow: hidden; border-top: rgba(255,255,255,.5) 1px solid; padding: 15px 0 0; line-height: 30px; color: rgba(255,255,255,.5) }
footer a { color: rgba(255,255,255,.5); }
footer a:hover { text-decoration: underline; color: rgba(255,255,255,1) }
.ga img { display: inline-block; vertical-align: middle; margin: 0 5px; }
/*icon-top*/
.icon-top { background: url(../images/istop.png) no-repeat center #333; background-size: 24px; width: 48px; height: 48px; position: fixed; right: 40px; bottom: 10%; transition: all 0.3s; z-index: 9999999; border-radius: 100%; opacity: 0; }
.cd-is-visible { opacity: 1; }
/*weizhi*/
.weizhi { background-size: 24px; line-height: 40px; color: rgba(255,255,255,.5); padding-left: 10px; }
.weizhi a { color: rgba(255,255,255,.5); }
/*epages*/
.epages { text-align: center; color: #808595; width: 100%; clear: both; padding-top: 10px; margin: 30px auto; }
.epages a { color: #666; margin: 0 5px 10px; padding: 5px 10px; background: rgba(255,255,255,.5); display: inline-block; }
.epages a:nth-child(1) { display: none }
.epages a:hover, .epages > b { color: #FFF; background: #1073ae; }
.epages > b { padding: 5px 10px; }
/*article*/
.blogs_info_page { width: 70%; float: left }
article { background: rgba(255,255,255,.9); padding: 20px; margin: 20px 0 20px 10px; border-radius: 3px; }
article h1 {color: #001737;font-size: 24px;margin: 10px 0 20px 0;}
.wz_info { font-size: 12px; line-height: 28px; color: #808595; margin-bottom: 20px; border-bottom: #dbdbdb 1px dashed; }
.wz_info span { margin: 0 20px 0 0 }
.wz_info a { color: #808595; }
.content { font-size: 16px; line-height: 32px; word-break: break-all; }
.content p { margin: 20px 0; text-indent: 2em; }
.content ul, .content ol { margin: 20px 0 20px 35px; }
.content ul li, .content ol li { margin-top: 3px; line-height: 30px; }
.content ul li { list-style-type: disc; }
.content ol li { list-style-type: decimal; }
.content h2, .content h3, .content h4, .content h5, .content h6 { position: relative; padding-left: 14px; font-size: 16px; margin: 20px 0; text-indent: 1em; }
.content img { max-width: 100% !important; width: auto !important; height: auto !important; margin: 10px auto; }
.content video { height: auto !important; display: block; margin: auto; max-width: 100% !important; }
.content table { max-width: 100%; border-width: 1px; border-color: #666; border-collapse: collapse; font-size: 15px; line-height: 26px; }
.content table th { border-width: 1px; padding: 4px 8px; border-style: solid; border-color: #666; background-color: #dedede; }
.content table td { border-width: 1px; padding: 4px 8px; border-style: solid; border-color: #666; background-color: #ffffff; }
span.marker { background: yellow; }
.diggit { display: block; width: 160px; margin: 20px auto; background: #E2523A; color: #fff; box-shadow: 1px 2px 6px 0px rgba(0,0,0,.2); border-radius: 3px; line-height: 40px; text-align: center; }
.diggit a { color: #fff; display: block }
/*share*/
.share { width: 331px; margin: 20px auto; text-align: center; }
.share span { float: left; line-height: 44px; font-size: 16px; color: #808595; }
.share b { margin-top: 20px; }
.bdshare-button-style0-16 a { width: 42px; height: 42px !important; padding-left: 0 !important; display: inline-block; margin: 0 2px !important; cursor: pointer !important; background-size: 42px !important; }
.share a.bds_sqq { background: url(../images/share.png) no-repeat; background-position: 0 -156px; }
.share a.bds_weixin { background: url(../images/share.png) no-repeat; background-position: 0 -52px; }
.share a.bds_qzone { background: url(../images/share.png) no-repeat; background-position: 0px -364px; }
.share a.bds_tsina { background: url(../images/share.png) no-repeat; background-position: 0 -260px; }
.share a.bds_sqq:hover { background: url(../images/share.png) no-repeat; background-position: 0 -104px; }
.share a.bds_weixin:hover { background: url(../images/share.png) no-repeat; background-position: 0 0px; }
.share a.bds_qzone:hover { background: url(../images/share.png) no-repeat; background-position: 0 -312px; }
.share a.bds_tsina:hover { background: url(../images/share.png) no-repeat; background-position: 0 -208px; }
.share a.bds_more { background: url(../images/share.png) no-repeat; background-position: 0 -570px; margin: 0; padding: 0; width: 44px; }
/*wz_zhuanzai*/
.wz_zhuanzai { text-align: center; color: #808595; font-size: 14px; line-height: 1.5; margin: 30px auto; letter-spacing: .05em; }
.wz_zhuanzai a { color: #808595; }
.wz_zhuanzai a:hover { color: #012684; }
/*tags*/
.tags {margin: 30px 0;font-size: 16px;background-size: 24px;color: #8392A5;}
.tags a { color: #8392A5; border: 1px solid #8392A5; display: inline-block; font-size: 14px; padding: 5px 15px; margin: 5px; border-radius: 4px; transition: all .2s; }
.tags a:hover { background: #012684; color: #fff; border: 1px solid #012684; }
/*info-pre-next*/
.info-pre-next { line-height: 34px; margin-bottom: 20px; overflow: hidden; }
.info-pre-next p { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 45%; float: left; }
.info-pre-next p:nth-child(2) { text-align: right; float: right; }
.info-pre-next a { margin-left: 10px; font-weight: bold; }
/*wz_love*/
.wz_love {background: rgba(255,255,255,.9);border-radius: 2px;overflow: hidden;margin: 20px 0 20px 10px;}
.wz_love .h_title { margin: 10px 0 0 30px }
.wz_love p { width: 88px; height: 25px; background: #012684; font-size: 16px; color: #fff; line-height: 25px; text-align: center; margin-top: 20px; }
.wz_love ul { overflow: hidden; margin: 10px 0 20px; }
.wz_love ul li { float: left; width: 50%; margin-bottom: 20px; position: relative }
.wz_love ul li a { display: block; margin: 0 30px; }
.wz_love ul li i { width: 120px; height: 90px; display: inline-block; overflow: hidden; float: left; margin-right: 12px; border-radius: 3px; }
.wz_love ul li img { width: 100%; min-height: 100%; transition: .5s; float: left; }
.wz_love ul li h2 { font-size: 15px; font-weight: normal; line-height: 20px; word-break: break-all; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2; padding-top: 10px; }
.wz_love ul li span { font-size: 12px; color: #808595; position: absolute; display: block; left: 164px; bottom: 10px; }
.wz_love ul li:hover img { transform: scale(1.1); }
/*photos*/
.photos { margin: 20px 0; }
.photos .h_title { margin-left: 10px }
.photos ul { overflow: hidden; }
.photos ul li { width: 25%; float: left; margin-bottom: 10px; }
.photos ul li a { margin: 10px; background: rgba(255,255,255,.8); display: block; overflow: hidden; padding: 10px; position: relative; }
.photos li i { display: block; overflow: hidden; position: relative; height: 195px; }
.photos li img { width: 100%; min-height: 100%; transition: all .5s; }
.photos li:hover img { transform: scale(1.1) }
.photos li p { line-height: 26px; height: 26px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-top: 10px; text-align: center; }
.photos li span { font-size: 13px; position: absolute; right: 20px; bottom: 54px; background: rgba(0, 0, 0, .5); color: #FFF; padding: 3px 8px; border-radius: 3px; }
/*album_box*/
.album_box {background: rgba(255,255,255,.5);border-radius: 3px;padding: 20px;overflow: hidden;margin: 20px 10px;}
.album_info { float: left; overflow: hidden; width: 78%; }
.album_info i { display: block; width: 133px; height: 100px; overflow: hidden; float: left; margin-right: 20px; border: 4px solid #e9f1f5; border-radius: 3px; }
.album_info img { width: 100%; min-height: 100%; }
.album_info h1 { font-size: 24px; margin-bottom: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.album_info h1 span { color: #808595; font-size: 13px; line-height: 26px; font-weight: normal; margin-left: 20px }
.album_info em { color: #808595; font-size: 13px; font-style: normal; margin-right: 20px }
.album_info p.a_i_ms { margin-bottom: 10px; }
.album_info p.a_i_ms a { color: #012684 }
/*pics_content*/
.pics_content { margin: 20px 0; }
.pics_content ul { overflow: hidden; }
.pics_content ul li { float: left; width: 25%; }
.pics_content ul li a { display: block; margin: 10px; background: rgba(255,255,255,.8); padding: 10px; overflow: hidden; }
.pics_content ul li i { height: 195px; overflow: hidden; display: block; }
.pics_content ul li img { width: 100%; min-height: 100%; transition: all .5s; }
.pics_content ul li:hover img { transform: scale(1.1) }
/*album_next*/
.album_next { margin: 30px 10px; overflow: hidden; }
.album_next ul { overflow: hidden }
.album_next ul li { width: 49%; float: left; background: rgba(255,255,255,.5); border-radius: 3px; }
.album_next ul li:nth-child(even) { float: right }
.album_next ul li a { display: block; padding: 20px; overflow: hidden; }
.album_next ul li:nth-child(1) a { background: url(../images/icon_left.png) no-repeat left center; padding-left: 70px; }
.album_next ul li:nth-child(2) a { text-align: right; background: url(../images/icon_right.png) no-repeat right center; padding-right: 70px }
.album_next span {color: #89a9bb;margin-bottom: 30px;font-size: 16px;}
.album_next i { width: 120px; height: 90px; display: block; overflow: hidden; border-radius: 3px; float: left; }
.album_next i img { width: 100%; min-height: 100%; transition: all .5s; }
.album_next ul li:hover img { transform: scale(1.1) }
.album_next h3 { font-size: 18px; margin: 10px 0 8px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.album_next p {color: #89a9bb;font-size: 13px;}
.album_next ul li:nth-child(1) i { margin-right: 20px; }
.album_next ul li:nth-child(2) i { float: right; margin-left: 20px; }
/*pages*/
.pages { background: rgba(255,255,255,.9); padding: 30px; margin: 20px 10px; border-radius: 3px; }
.page_title { font-size: 24px; text-indent: 1em; border-bottom: #e1e1e1 1px solid; padding-bottom: 20px; }
/*all_news_list*/
.all_news_list { width: 70%; float: left }
.all_news_list ul { margin: 20px 0; padding: 30px; background: rgba(255,255,255,.9); border-radius: 3px; }
.all_news_list ul li { line-height: 30px; position: relative; padding-left: 20px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-bottom: 5px; }
.all_news_list ul li:after { content: ""; position: absolute; left: 5px; top: 14px; background: #ccc; width: 4px; height: 4px; }
.all_news_list ul li span { float: right; margin-right: 10px; color: #808595; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: right; }
.all_news_list ul li:nth-child(10n) { border-bottom: #e6e6e7 1px solid; padding-bottom: 30px; margin-bottom: 30px; }
/*xt_search*/
.xt_search { margin: 20px 0; color: #333; }
.xt_search strong { color: #f00; }
.blogs_search { margin: 20px 10px; padding: 30px; background: rgba(255,255,255,.9); border-radius: 3px }
.blogs_search ul li { margin-bottom: 30px; }
.blogs_search ul li h2 { font-weight: normal; margin: 0; font-size: 16px; margin-top: 10px; }
.blogs_search ul li h2 a { color: #07519A; }
.blogs_search ul li h2 a:hover, .color_purple:hover { text-decoration: underline }
.blogs_search ul li p { font-size: 14px; margin: 5px 0; }
.color_green { color: green; font-size: 14px; }
.color_purple { color: #77c; }
/*page_tags*/
.page_tags ul { margin: 30px auto; }
.page_tags ul a { color: #666; background: #fff; display: inline-block; font-size: 14px; padding: 5px 15px; margin: 5px; border-radius: 4px; transition: all .2s; }
.openpl { display: none; }
.moodlist { margin: 20px 10px; width: 80%; }
.moodlist span { display: block; position: relative; font-size: 13px; color: #9dc1d3; }
.moodtext { border-radius: 5px; font-size: 15px; color: #465267; margin-bottom: 15px; line-height: 25px; overflow: hidden; }
.moodlist section {border-radius: 5px;background: rgba(255,255,255,.8);padding: 20px 20px 40px 20px;margin-bottom: 20px;margin-left: 70px;position: relative;word-break: break-all;}
.mood_tx { position: absolute; left: -70px; top: 20px; }
.moodlist section:after { border: solid transparent;/* content: " "; */ height: 0; width: 0; position: absolute; border-right-color: #e7e7e7; border-width: 10px; top: 30px; left: -20px; }
.moodlist section:before {border: solid transparent;content: " ";height: 0;width: 0;position: absolute;border-right-color: rgba(255,255,255,.8);border-width: 10px;top: 30px;left: -20px;z-index: 9;}
img.moodhead { width: 50px; height: 50px; border-radius: 4px; box-shadow: 0 1px 3px rgb(0 0 0 / 30%); }
span.moodtime { float: left; }
.mood_pic_a, .mood_pic_b, .mood_pic_c { margin: 20px 0; overflow: hidden; }
.mood_pic_a li { float: left; width: 33.333%; margin-bottom: 10px; }
.mood_pic_a li i { margin: 0 10px 0 0; display: block; overflow: hidden; }
.mood_pic_a li i img { width: 100%; height: 160px; object-fit: cover; }
.mood_pic_b li { float: left; margin: 0 10px 0 0; width: 30%; }
.mood_pic_b li i { display: block; max-height: 160px; overflow: hidden; }
.mood_pic_b li i img { width: 100%; height: 160px; object-fit: cover; }
.mood_pic_c li img { max-width: 50% !important; }
.btnpl { font-size: 14px; text-align: right; padding-right: 10px; cursor: pointer; }
.wypl_list li { list-style-type: none; overflow: hidden; border-bottom: #e6e6e6 1px dashed; line-height: 30px; padding: 15px 0; }
.wypl_list li:first-child { margin-top: 10px }
.wypl_list li:last-child { margin-bottom: 10px; border-bottom: none }
.wypl_list {margin: 20px 0 0 0;font-size: 13px;border-top: #d4e4ed 1px solid;}
.moodlist .pltime { float: right; color: #777; font-size: 12px; margin-right: 15px; }
.moodlist .username { display: inline-block; margin-right: 8px; color: #295c9d; }
.moodlist .pltext { display: inline-block; line-height: 20px; line-height: 24px; }
.openpl input#username { margin: 10px 5px 10px 0; border-radius: 3px; }
.openpl input#password { margin: 10px 0; border-radius: 3px; }
.openpl textarea#saytext {display: block;clear: both;border: #8ac2e2 1px solid;width: 97%;margin: 20px 0;border-radius: 3px;outline: none;line-height: 20px;padding: 3px 8px 5px;background: none;font-size: 14px;box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 4%);}
.openpl input[type="image"] { margin-bottom: 30px; float: right; }



